<form [formGroup]="subscriptionForm" (ngSubmit)="this.subscriptionId ? changeSubscription() : createSubscription()">
    <div class="go-back">
        <button mat-raised-button class="btn-back" color="primary" (click)="goBackToSubscription()"
            type="button">Volver</button>
    </div>
    <div class="form-subscription">
        <mat-card class="subscription-card">
            <mat-card-title class="title-center">Nueva Subscripción</mat-card-title>
            <mat-card-content>
                <h2>Información planes: </h2>
                <div class="row">
                    <div class="col-md-4" *ngFor="let plan of subscriptionPlans">
                        <mat-card class="plan-card" appearance="outlined">
                            <mat-card-header>
                                <mat-card-title>{{ plan.name }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="plan-card-content">
                                <mat-card-title>{{ plan.monthlyCost | currency }} / mes </mat-card-title>
                                <p>
                                    Este plan tiene un costo mensual de <b>{{ plan.monthlyCost | currency }}</b>
                                    y ofrece un <b>{{ plan.yearlyDiscount }}% de descuento</b> en suscripción anual.
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="primary" (click)="selectPlan(plan)"
                                    type="button">Seleccionar</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>

                <mat-divider class="m-4"></mat-divider>

                <h2>Información del cliente</h2>
                <div *ngIf="this.subscriptionId === null" class="customer-searcher-container">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Buscar</mat-label>
                        <input matInput formControlName="customerEmail" placeholder="Ingrese el email">
                        <mat-error *ngIf="subscriptionForm.get('customerEmail')?.hasError('email')">
                            Ingrese un email válido
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button class="btn-back m-2" color="primary" (click)="searchCustomer()"
                        type="button">Buscar</button>
                </div>
                <mat-card>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-4"> <b>Nombre Cliente: </b> {{customer?.name}}</div>
                            <div class="col-md-4"> <b>Email: {{customer?.email}}</b></div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-divider class="m-4"></mat-divider>

                <h2>Información de la supscripción: </h2>
                <table class="full-width">
                    <tr>
                        <td>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Plan: </mat-label>
                                <mat-select formControlName="subscriptionPlan">
                                    <mat-option *ngFor="let plan of subscriptionPlans" [value]="plan">
                                        {{ plan.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="subscriptionForm.get('subscriptionPlan')?.hasError('required')">
                                    El plan es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Selecciona la frecuencia de pago</mat-label>
                                <mat-select formControlName="paymentFrequency">
                                    <mat-option *ngFor="let frequency of paymentFrequencies" [value]="frequency">
                                        {{ frequency.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="subscriptionForm.get('paymentFrequency')?.hasError('required')">
                                    La frecuencia de pago es obligatoria
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <div class="button-container">
                    <button mat-raised-button class="btn-subscribe" color="primary">{{this.subscriptionId ? 'Actualizar subscripción'
                        : 'Suscribir' }}</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</form>